@import '../../navigation/header/header.module.scss';

$tonCoinIconSize: 28px;
$tokenPricingHeight: $headerHeight * 0.4;
.token-pricing {
  display: flex;
  align-items: center;
  height: $tokenPricingHeight;
  border-radius: var(--border-radius-base);
}

.token-princing-value {
  padding: 0 0.5rem;
  margin-bottom: 0;
  color: var(--primary-color);
}
.token-princing-icon {
  width: $tonCoinIconSize;
  height: $tonCoinIconSize;
}
